@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --color-primary: #0b3d91;
    --color-accent: #e76f51;
    --color-neutral: #f5f7fa;
    --color-contrast: #14213d;
  } */
  
  :root {
    --color-primary: #2563eb;
    --color-accent: #facc15;
    --color-neutral: #ffffff;
    --color-contrast: #111827;
  }
  
  .dark {
    --color-primary: #60a5fa;
    --color-accent: #facc15;
    --color-neutral: #111827;
    --color-contrast: #f9fafb;
  }
  
  html {
    scroll-behavior: smooth;
  }
  